
.content {
  background-color: #e2e2e2;
}

.product-container {
  margin: 40px auto;
  width: 80%;
  border-radius: 40px;
  box-shadow: 10px 10px 5px gray;
  background-color: white;
}

.inner-product-container {
  display: flex;
}

.product-show img {
  width: 500px;
  height: 500px;
  border-radius: 20px;

  margin: 40px;
}

.product-all-info {
  float: right;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.product-name {
  font-size: xx-large;
}

.storage-box {
  margin-bottom: 10px;
}

.storage-box p {
  font-size: smaller;
}

.product-shop-description {
  display: flex;
}

.product-info-container {
  float: left;
  width: 80%;
  display: flex;
}

.product-info {
  float: left;
  width: calc(100% - 200px);
  padding-right: 40px;
}

.description {
  font-size: x-large;
}

.description-box {
  width: 100%;
  text-align: justify;
}

.product-shop {
  float: right;
  width: 200px;
}

.product-price {
  width: 100%;
  text-align: right;
}

.price {
  font-size: x-large;
}

.partion-price {
  font-size: small;
  margin-top: -4px;
}

.product-quantity {
  margin-top: 100px;
  font-size: large;
}

.product-button-add {
  margin: 50px auto;
  font-display: middle;
  background-color:rgb(112, 19, 6);
  width: 200px;
  max-width: 100%;
  height: 50px;
  color: white;
  font-size: larger;
  display: block;
}

@media(max-width: 1230px) {
  .product-show {
    width: fit-content;
    padding: 40px;
  }

  .product-quantity {
    margin-top: 15%;
  }

  .product-button-add {
    margin: 10% auto;
  }

  .product-shop-description {
    height: 0;
  }
  
  .product-show img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0;
  }
}

@media(max-width: 1015px) {
  .product-name {
    font-size: x-large;
  }
  
  .storage-box p {
    font-size: x-small;
  }

  .product-info {
    width: 55%;
  }

  .product-shop {
    width: 45%;
  }

  .description {
    font-size: large;
  }

  .description-box {
    font-size: small;
  }

  .product-show {
    padding: 30px;
  }

  .price {
    font-size: larger;
  }

  .partion-price {
    font-size: x-small;
  }

  .product-quantity {
    font-size: medium;
  }

  .product-button-add {
    font-size: medium;
    width: 90%;
  }
}

@media(max-width: 850px) {
  .inner-product-container {
    display: grid;
  }

  .product-show {
    width: 100%;
  }

  .product-all-info {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    margin: 0;
    height: fit-content;
  }

  .product-shop-description {
    height: fit-content;
  }

  .product-button-add {
    margin-bottom: 0;
  }

  .product-info {
    padding-right: 20px;
  }
}

@media(max-width: 460px) {
  .product-show {
    padding: 20px;
  }

  .product-all-info {
    padding: 20px;
    padding-top: 0;
  }
}

@media(max-width: 440px) {
  .product-shop-description {
    display: grid;
  }

  .product-info {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .product-shop {
    width: 100%;
  }

  .product-quantity {
    margin-top: 0;
  }

  .product-button-add {
    margin: 10px auto;   
    padding: 5px;
    height: auto;
  }
}
